<head>
  <meta charset="utf-8">
  <meta name="author" content="Karim Said">
  <meta name="description" content="A .krails application.">

  <title><%= "#{Rails.application.config.app_name}" %><%= content_for?(:title) ?  " | #{content_for(:title)}" : "" %></title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  
  <!-- Google Fonts -->
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Righteous" />
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Share+Tech+Mono" />

  <!-- Font Awesome CDN -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

  <!-- Rails Asset Pipeline -->
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= stylesheet_link_tag params[:controller] %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag params[:controller] %>

  <%= favicon_link_tag %>

  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
